body{
  background-image:url('/src/assets/fondoChampions.avif') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment:fixed ;
}